table {
    width: 100%;
    table-layout: fixed;
}
td {
    vertical-align: top;
    padding: 5px;
    border: 1px solid lightgrey;
    //overflow: hidden; text-overflow: ellipsis;
}
tbody td:nth-of-type(odd),
thead th:nth-of-type(odd){
	background:rgba(255,255,136,0.5);
}
pre {
    max-height: 600px;
    overflow: auto;
}